@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

:root {
    --gold-stellar: #FFCC66;
    --spatial-blue: #0A1E3F;
    --spatial-blue-transparent: rgba(10, 30, 63, 0.3);
    --spatial-blue-background: rgba(10, 30, 63, 0.8);
    --void_black: #0B0B0F;
    --white_moon: #FFFFFF;
}

*{
    margin: 0;
}

html{
    height:100%;
}

body{
    font-family: 'Poppins', cursive;
    min-height:100vh;
    background-image: url('../img/fond_Univers.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--gold-stellar);
}




/********************************
******Main content Section*******
********************************/
.content {
    overflow : hidden;
    max-width: 90vw;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    display:flex;
    justify-content:center;
    padding:20px;
    padding-bottom:100px;

}
