:root {
    --gold-stellar: #FFCC66;
    --spatial-blue: #0A1E3F;
    --spatial-blue-transparent: rgba(10, 30, 63, 0.3);
    --spatial-blue-background: rgba(10, 30, 63, 0.8);
    --void_black: #0B0B0F;
    --white_moon: #FFFFFF;
}

/*********************************
*************Animations***********
*********************************/

.fade-in-up {
    opacity: 0;
    transform: translateY(100px);
    transition: all 1s ease-out;
}

.fade-in-side-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 1s ease-out;
}

.fade-in-side-right {
    opacity: 0;
    transform: translateX(100px);
    transition: all 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}


.contact-container {
    width: 800px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    background-color: var(--spatial-blue-background);
    border: 1px solid var(--gold-stellar);
    border-radius: 15px;
    box-shadow: 0 0 15px var(--void_black);
}

.contact-title {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
    text-shadow: 0 0 6px var(--gold-stellar);
}

.contact-form {
    display: flex;
    flex-direction: column;
    max-width:650px;
    margin:auto;
    gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    padding: 0.75rem;
    border-radius: 8px;
    border: 1px solid var(--gold-stellar);
    background-color: var(--void_black);
    color: var(--white_moon);
    resize: vertical;
  
}

.contact-form textarea{
    min-height:100px;
    max-height:500px;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline:none;
    border: 1px solid var(--white_moon);
    box-shadow: 0 0 8px var(--white_moon);
    transition: 0.2s ease-in-out;
  
}

.mail-error{
    color: #D9433E;
    text-shadow : 0 0 8px #D9433E;
    font-size: 1rem;
}

.contact-submit{
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid var(--gold-stellar);
    background-color: var(--spatial-blue);
    color: var(--gold-stellar);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s ease, transform 0.1s, text-shadow 0.3s ease;
    box-shadow: 12px 8px 25px 10px var(--void_black);
    margin-top:25px;
    text-decoration:none;
    text-shadow: 0 0 6px var(--gold-stellar);
    font-size: 1rem;
    margin:auto;
    width:350px;
}

.contact-submit:hover {
    color: var(--white_moon);
    box-shadow: 14px 10px 30px 12px var(--void_black);
    transform: scale(1.03);
    text-shadow: 0 0 8px var(--white_moon);
}

.contact-links {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links h2 {
    font-size:1.8rem;
    text-shadow: 0 0 6px var(--gold-stellar);
}

.contact-links ul {
    list-style: none;
    padding: 0;
    margin-top: 5px;
}

.contact-links li {
    margin: 10px 0;
}

.social-icon {
    font-size: 1.8rem;
}

.contact-links a{
    color: var(--gold-stellar);
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.2s ease-in-out, text-shadow 0.3s ease;
}

.contact-links a:hover {
    color: var(--white_moon);
    text-shadow: 0 0 6px var(--white_moon);
}

/*********************************
********Contact CV section********
*********************************/
.contact-cv{
    margin-top:20px;
}

.cv-download-btn {
    display: block;
    margin-top:20px;
    max-width: 350px;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid var(--gold-stellar);
    background-color: var(--spatial-blue);
    color: var(--gold-stellar);
    cursor: pointer;
    transition: background-color 0.3s,
                color 0.3s,
                box-shadow 0.3s ease,
                transform 0.1s,
                text-shadow 0.3s ease;
    box-shadow: 10px 6px 18px 6px var(--void_black);
    margin-top:25px;
    text-decoration:none;
    text-shadow: 0 0 6px var(--gold-stellar);
    font-size: 1rem;
    margin:auto;
    box-sizing: border-box;
    
}

.cv-download-btn:hover {
    color: var(--white_moon);
    box-shadow: 14px 10px 30px 12px var(--void_black);
    transform: scale(1.03);
    text-shadow: 0 0 8px var(--white_moon);
}

.cv-download-icon {
    margin-right:10px;
}

/**************************************
********* Responsive Rules *************
**************************************/

/* Tablets */
@media (max-width: 1044px) {
    .contact-container {
        width: 90%;
        padding: 1.5rem;
        max-height:750px;
    }

    .contact-form {
        max-width: 100%;
    }

}

/* Tablet Landscape */
@media (max-width: 1500px) and (orientation: landscape) {
    .contact-container {
        width: 70%;
    }
}

/*  Mobiles */
@media (max-width: 599px) {
    .contact-container {
        width: 95%;
        padding: 1.2rem;
    }

    .contact-title {
        font-size: 1.8rem;
    }

    .contact-form input,
    .contact-form textarea {
        font-size: 1rem;
    }

    .contact-form textarea {
        min-height:150px;
    }

    .contact-submit {
        width: 100%;
        font-size: 1rem;
        padding: 12px;
    }

    .contact-links h2 {
        font-size: 1.5rem;
    }

    .contact-links a {
        font-size: 1.1rem;
    }

    .social-icon {
        font-size: 1.5rem;
    }

    .cv-download-btn {
        font-size: 1rem;
        padding: 12px;
    }
}

/* Mobile Landscape */
@media (max-width: 899px) and (orientation: landscape) {
    .contact-container {
        width: 90%;
    }

    .contact-title {
        font-size: 1.9rem;
    }

    .contact-links {
        margin-top: 2.5rem;
    }
}