/********************************
*********Header Section**********
********************************/
.header-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center; 
    max-height: 180px;
    gap:20px;
    padding: 20px 0;
    background-color: var(--spatial-blue-transparent);
    box-shadow: 0px 5px 20px var(--void_black);
    transition: background-color 1s ease, box-shadow 1s ease;
}

.header-title{
    font-family: 'Audiowide', cursive;
    font-weight: 1000;
    font-size: 2.5rem; 
    text-align: center;
    margin-bottom: 10px;
    text-shadow: 0 0 6px var(--gold-stellar);
}


.navbar{
    display: inline-flex;
    justify-content: center;
    background-color: var(--spatial-blue);
    border: 2px solid var(--gold-stellar);
    border-radius:20px;
    box-shadow: 12px 6px 20px 8px var(--void_black);
}

.navbar-sticky-container {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom:20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: var(--spatial-blue-transparent);
    box-shadow: 0px 5px 20px var(--void_black);
    transition: background-color 1s ease, box-shadow 1s ease;
}

.navbar-sticky-container-hidden {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    padding-bottom:20px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    background-color: transparent !important;
    box-shadow: none !important;
    transition: background-color 1s ease, box-shadow 1s ease;
}

.navbar-sticky {
    background-color: var(--spatial-blue);
    border: 2px solid var(--gold-stellar);
    border-radius: 0 0 20px 20px;
    box-shadow: 12px 6px 20px 8px var(--void_black);
    display: inline-flex;
    justify-content: center;
}

.navbar .navLink, .navbar-sticky .navLink{
    display: block;
    padding: 1rem 1.5rem;
    text-align: center;
    color: var(--gold-stellar);
    text-decoration: none;
    text-shadow: 0 0 6px var(--gold-stellar);
    transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.1s;
    box-sizing: border-box;
    border-radius:10px;
}

.navbar .navLink:hover, .navbar-sticky .navLink:hover{
    color: var(--white_moon);
    text-shadow: 0 0 8px var(--white_moon);
    transform: scale(1.02);
}

.navbar .navLink.active, .navbar-sticky .navLink.active{
    transform: scale(1.02);
    text-shadow: 0 0 8px var(--white_moon);
    color: var(--white_moon);
}