:root {
    --gold-stellar: #FFCC66;
    --spatial-blue: #0A1E3F;
    --spatial-blue-transparent: rgba(10, 30, 63, 0.3);
    --spatial-blue-background: rgba(10, 30, 63, 0.5);
    --void_black: #0B0B0F;
    --white_moon: #FFFFFF;
}