
:root {
    --gold-stellar: #FFCC66;
    --spatial-blue: #0A1E3F;
    --spatial-blue-transparent: rgba(10, 30, 63, 0.3);
    --spatial-blue-background: rgba(10, 30, 63, 0.8);
    --void_black: #0B0B0F;
    --white_moon: #FFFFFF;
}

/********************************
******Main content Section*******
********************************/
.scroll-to-top-btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 100%;
    background:transparent;
    border:none;
    padding: 0;
    cursor: pointer;
    width: 3.5rem; 
    height: 3.5rem;
    clip-path: circle(50% at 50% 50%);
    transition: transform 0.2s ease;
    z-index: 750;
}

.scroll-to-top-btn:hover {
    transform: translateY(-3px);
}

.scroll-to-top-btn-icon{
    width: 100%;
    height: 100%;
    color: var(--gold-stellar);
}

.scroll-to-top-btn-icon:hover{
    color:var(--white_moon);
}

/********************************
****** Responsive Rules *********
********************************/
/* Mobiles (no tablets) */
@media (max-width: 599px) {
    .scroll-to-top-btn {
        bottom: 15px;
        right: 15px;
        width: 2.5rem;
        height: 2.5rem;
    }
}